.map-controls {
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 10px;

    .radio-selector {
        background: var(--secondary);
        padding: 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 250px;

        input {
            margin-right: 10px;
            margin-left: 10px;
        }
    }

    .map-type {
        background: var(--secondary);
        padding: 10px;
        margin-top: 10px;
    }
}


#mui-1 {
    background: black;
    color: white;
}

.info-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
