.map-controls {
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 10px;

    .misc-icons {
        background: var(--secondary);
        padding: 10px;
        border-radius: 5px;
        width: 25px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .map-type {
        background: var(--secondary);
        padding: 10px;
        margin-top: 10px;
        min-width: 110px;
    }
}


#mui-1 {
    background: var(--primary);
    color: white;
    padding: 10px;
}

.info-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
