.resume-options{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    gap: 20px;
    margin-bottom: 10px;
    background-color:lavender;
    float: right;
    position: relative;
    z-index: 99;
    padding: 3px 10px 5px 10px;
    border-radius: 25px;
}

.options-wrapper{
    display: none;
}

.MuiDialog-paperWidthSm:hover .options-wrapper{
    display: block;
}

.MuiDialog-paperWidthSm {
    max-width: 650px !important;
}

