.profile-menu {
    position: absolute;
    z-index: 1;
    margin-left: 25px;
    margin-top: 25px;

    .flip-menu {
        background: #f1f1f5;
        border-radius: 50px;
        padding: 5px;
        transition: all .2s ease-in-out;
        box-shadow: black 2px 3px 5px;
        width: 48px;
    }

    .flip-menu:hover {
        background: #a4a3de;
        transform: scale(1.1);
    }

    .menu-wrapper {
        display: flex;

        .menu-item {
            height: 60px;
            width: 60px;
            background-color: #f1f1f5;
            border-radius: 10px;
            border: darkblue 4px solid;
            height: 55px;
            margin-top: 20px;

            img {
                padding: 5px 0px;
            }
        }

        .menu-item:hover {
            transform: scale(1.1);
        }

        .selected-menu {
            background-color: #a4a3de;
            border: white 4px solid;
        }

        .menu-panel {
            background-color: #f1f1f5;
            margin-top: 20px;
            margin-left: 20px;
            border-radius: 10px;
            box-shadow: black 0px 2px 6px;
            animation: 1s ease-out 0s 1 slideInFromLeft;
            height: fit-content;

            .regular {
                width: 300px;

                li {
                    text-align: left;
                }


                ol {
                    counter-reset: list;
                    list-style: none;
                    padding-left: 10px;
                }

                ol li {
                    counter-increment: list;
                    margin-bottom: 10px;
                    padding: 5px;
                    border-radius: 5px;
                    margin-right: 10px;

                }

                ol li::before {
                    content: counter(list);
                    background: #2f96ff;
                    font-family: Arial, sans-serif;
                    color: #f1f1f5;
                    font-size: 13px;
                    text-align: center;
                    border-radius: 50%;
                    width: 2.2em;
                    height: 2.2em;
                    line-height: 2.3em;
                    display: inline-block;
                    margin-right: 1em;
                }

                ol li:hover {
                    background: #a4a3de;
                }

            }

            .title {
                background: #a4a3de;
                padding: 5px;
                margin: auto;
                margin-top: -35px;
                border-radius: 10px;
                border: 2px white solid;
            }
        }

        .sub-menu-panel {
            background-color: #f1f1f5;
            margin-top: 20px;
            margin-left: 20px;
            border-radius: 10px;
            box-shadow: black 0px 2px 6px;
            animation: 1s ease-out 0s 1 slideInFromLeft;
            width: 600px;

            .regular {
                text-align: left;

                .html-container {
                    margin: 10px;
                    ;
                }
            }

        }
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(0);
    }
}
